#gameBoard {
    pointer-events: none;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    width: 400px;
    height: 400px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    width: 100px;
    line-height: 100px;
    border: black 1px solid;
}

.fields{
    pointer-events: all;
    width: 90px;
    line-height: 90px;
    float: left;
    border: black 1px solid;
    margin: 4px;
    cursor: pointer;
    background-color: black;
    color: black;
}

.fields.disabled{ 
    pointer-events: none;
    background-color: white;
}

.fields.disabledAll{
    pointer-events: none;
}

.center{
    text-align: center;
}